.toggle-btn {
  position: absolute;
  bottom: 30px;
  left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle {
  margin-left: 8px;
  background-color: #fff;
}

.toggle:hover {
  background-color: #fff !important;
}